@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=<MDAwMTI4MzkxNy1Fcm5zdDpqT3RpV3JBd3A1QmZiTnB4R0Z1Qmd2YjdhSW1UZ2dOeA==>
always-auth=true