.custom-footer {
  background-color: #c4c4cd;
  color: #747480;
  padding: 10px;
  padding-bottom: 10px;
  position: relative;
  font-family: "EYInterstate-Regular", "sans-serif";
  overflow: hidden;

  .footer-top {
    padding-bottom: 30px;
  }

  .footer-icon-container {
    position: absolute;
    top: 10px;
    left: 40px;
  }

  .footer-icon {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
  }

  .footer-links-container {
    position: absolute;
    top: 0;
    right: 20px;
  }

  .ghost-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;

    li a {
      color: #2e2e38;
      text-decoration: none;
      font-size: 20px;
      font-style: bold;
      text-decoration: underline;
    }

    li a:hover {
      color: #2e2e38;
    }
  }

  .footer-bottom {
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 100%;
    text-align: left;
    padding: 40px 0 40px;
    font-size: 20px;
  }

  .footer-icons-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    //flex-wrap: wrap;
  }

  .footer-icon1 {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
  }

  .footer-icon1:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
}
