<footer class="custom-footer">
  <div class="footer-top">
    <div class="footer-icon-container">
      <img src="assets/ey-icon.png" alt="Footer Icon" class="footer-icon" />
    </div>

    <div class="footer-links-container">
      <ul class="ghost-links">
        <li><a href="#">Connect with us</a></li>
        <li><a href="#">Our locations</a></li>
        <li><a href="#">My EY</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Legal and Privacy</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      &copy; EY refers to the global organization, and may refer to one or more,
      of the member firms of Ernst & Young Global Limited, <br />each of which
      is a separate legal entity. Ernst & Young Global Limited, a UK company
      limited by guarantee, does not provide services to clients.
    </p>
    <div class="footer-icons-container">
      <img src="assets/fb.png" alt="Icon 1" class="footer-icon1" />
      <img src="assets/linkedin.png" alt="Icon 2" class="footer-icon1" />
      <img src="assets/twitter.png" alt="Icon 3" class="footer-icon1" />
      <img src="assets/youtube.png" alt="Icon 4" class="footer-icon1" />
    </div>
  </div>
</footer>
